h1 {
  color: tomato;
}
#header {
  padding: 60px;
  text-align: center;
  background-color: blueviolet;
  color: white;
  font-size: 30px;
}
#content {
  padding-bottom: 50px;
}
#footer {
  padding: 60px;
  background: gray;
  color: white;
  font-size: 30px;
  text-align: center;
}
